= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id_slack
    = f.text_field :id_slack
  .field
    = f.label :is_admin
    = f.check_box :is_admin
  .actions
    = f.submit 'Save'
